@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

.title {
  font-family: 'EB Garamond';
  font-weight: 400;
  color: #3920CD;
}

.body {
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
}

h3, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  text-align: center;
}
